*{
    margin:0;
    padding:0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(245,153,39,0.6),rgba(255, 255, 255, 0.7) 25%);
        background-position: center;
        background-size: cover;
        position: relative;
    
}
/* rgba(255, 255, 255, 0.7) 70%,  rgba(245,153,39,0.6) 10%)  */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: rgb(58, 4, 63);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.input{
    background-color: #f8fffc;
    color: rgb(131, 126, 126);
    margin: 4px;
    cursor: pointer;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px
}
.button{
    background-color: #dd731c; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}
/* trending courses */
.course{
    width: 90%;
    margin: auto;
    top: 30%;
    left:50%;
    /* padding-top: 100px; */
    text-align: left;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color:rgb(58, 4, 63);
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}