*{
    margin:0;
    padding:0;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(245,153,39,0.6),rgba(255, 255, 255, 0.7) 25%);
        background-position: center;
        background-size: cover;
        position: relative;
    
    
}
.cooking-ideas{
    margin-top: 0vh;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.group  {
    flex-direction: column;
    margin-top: 100px;
    font-size: xx-large;
}
.input{
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    font-size: medium;
    padding:13px;
    border-radius:15px; 
}
.button{
    background-color:#fd942d;
    color: #fff;
    border: none;
    border-radius:15px; 
    padding:13px;
    height: 50px;
    min-width: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    cursor: pointer;
}
/* trending courses */
.course{
    background-color: #d69b6b;
    margin: auto;
    left: 80%;
    padding-top: 40px;
    text-align: center;
}
.course-col{
    border-radius: 100vh;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 600;
    text-align: left;
}
h4{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
p{
    color:rgb(58, 4, 63);
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100vh;
    /* justify-content: space-between; */
}
.fa:hover {
    opacity: 1;
}
.fa-instagram {
    background: white;
    color: rgb(0, 0, 0);
}

.fa-facebook {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.fa-twitter {
    background: white;
    color: rgb(0, 0, 0);
}
.fa-pinterest {
    background: white;
    color: rgb(0, 0, 0);
}
.fa {
    padding: 10px;
    font-size: 20px;
    /* width: 20px; */
    text-decoration: none;
    margin: 5px;
}

.scale{
    width: calc(10vw+10vh);
}

.first-row  {
/* width: calc(100vw); */
margin-top: 100px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 5%;
padding: calc(10vw);
margin: auto;
max-width: 100%;
/* flex-direction: row; */
align-items: center;
justify-content: center;
}

.second-row {
margin-top: 100px;
display: grid;
grid-gap: 10%;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
padding: calc(10vw);
margin: auto;
max-width: 100%;
/* display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around; */
}


#barbeque{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px gray;
    border-radius: 15px;
    flex-direction: column;
    flex: 0.4;
    align-self: auto;
    display: block;
}

#breakfast{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px gray;
    border-radius: 15px;
    flex-direction: column;
    flex: 0.4;
    align-self: auto;
    display: block;

}
#snacks{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px gray;
    border-radius: 15px;
    flex-direction: column;
    flex: 0.4;
    align-self: auto;
    display: block;

}
#cookies{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px gray;
    border-radius: 15px;
    flex-direction: column;
    flex: 0.4;
    align-self: auto;
    display: block;

}
.img-on-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.greying-out{
    opacity: 0.8;
    filter: alpha(opacity=80);
    filter: grayscale(50%);
}
.wrapper{
    border-radius: 100vh;
    position: relative;
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
/* #breakfast  {
width: calc(30vw);
flex: 1;
height: 300px;
flex-direction: column;
border: solid 2px gray;
border-radius: 15px;
}


#snacks  {
width: 30%;
flex: 1;
height: 300px;
flex-direction: column;
border: solid 2px gray;
border-radius: 15px;
} */

/* #barbeque  {
flex-direction: column;
width: 30%;
height: 300px;
border: solid 2px gray;
border-radius: 15px;
flex-direction: column;
align-self: flex-end;
}

#cookies  {
flex-direction: column;
width: 30%;
height: 300px;
border: solid 2px gray;
border-radius: 15px;
flex-direction: column;
} */